html {
  font-size: 15px;
  background-color: darkcyan;
}

@media (min-width: 768px) {
  html {
    font-size: 13px;
    background-color: darkcyan;
  }
}
body{
  background-color: #cccccc;
  font-family:Impact, 'Arial Narrow Bold', sans-serif;
  text-align: center;
  margin: 14px;
}
#submitForm{
  color:rgb(9, 187, 27);
  font-size: 15px;

}

